* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #F2F2F7;
  overflow: hidden;
}

#root {
  height: 100%;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input::placeholder {
  color: #AEAEB2;
}
